
/** Variables **********************************************
$base-font-family:              Helvetica, sans-serif;
$base-font-size:                15px;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 5px;
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #3e4551;

/* COLORS  */
$red:           #FF3636;
$orange:        #F29105;
$blue:          #2698BA;
$green:         #11D68B;
$lime_green:    #B7D12A;
$purple:        #B509AC;
$brown_orange:  #C68646;


$grey-color-dark:   #333;  /* footer */
$grey-color-light:  #ddd;  /* navigation bar border */
$text-color:        rgb(60, 72, 88);

/* Set theme color *************************/
$theme-color: #b71c1c;
$background-color: #fdfdfd;

/************************************************************/

.badge-notify {
    background: $theme-color !important;
}

body {
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.breadcrumb {
    color: $text-color;
    background-color: $background-color;
}

.table {
    color: $text-color;
}

.navbar a {
    color: $text-color !important;
}

footer {
    a {
        color: $grey-lighten-5;
    }

    a:hover {
        color: $theme-color;
    }
}

.title {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

// Links

a {
    color: $theme-color;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.plain-link .fa {
    color: #747373;
}

.navbar-brand a {
    color: #f8f9fa !important;
}

.navbar-active a {
    color: $theme-color !important;
}

.arrow-icon {
    color: #90a4ae;
    background: #90a4ae;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        color: lighten(#90a4ae, 20%);
        background: lighten(#90a4ae, 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.gm-icon {
    background: rgb(200, 78, 63);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        background: lighten(rgb(200, 78, 63), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.gs-icon {
    background: rgb(80, 134, 236);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        background: lighten(rgb(80, 134, 236), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.gh-icon {
    color: rgb(37, 41, 46);
    background: rgb(37, 41, 46);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        color: lighten(rgb(37, 41, 46), 20%);
        background: lighten(rgb(37, 41, 46), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.li-icon {
    background: rgb(14, 118, 168);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        background: lighten(rgb(14, 118, 168), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.fb-icon {
    background: rgb(59, 89, 152);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        background: lighten(rgb(59, 89, 152), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.tw-icon {
    background: rgb(29, 161, 242);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        background: lighten(rgb(29, 161, 242), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.wp-icon {
    color: rgb(33, 117, 155);
    background: rgb(33, 117, 155);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    &:hover {
        color: lighten(rgb(33, 117, 155), 20%);
        background: lighten(rgb(33, 117, 155), 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}

.cv h3 {
    color: $theme-color;
}

.bibliography .abbr a {
    &:hover {
        background: #ff4444 !important;
    }
}

progress {
    /* Reset the appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
  
    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;
  
    /* Progress bar value for IE10+ */
    color: $theme-color;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}
  
progress::-webkit-progress-value {
    background-color: $theme-color;
}
  
progress::-moz-progress-bar {
    background-color: $theme-color;
}

.progress-container {
    background-color: transparent;
}

.progress-bar {
    background-color: $theme-color;
}

// Publications

.bibliography-year {
    color: #ddd;
    text-align: right;
}

.bibliography {
    li {
        .title {
            font-weight: bolder;
        }

        .author {
            a {
                color: $text-color;
                border-bottom: 1px dashed;

                &:hover {
                    border-bottom-style: solid;
                    text-decoration: none;
                }
            }

            nobr > em {
                font-weight: bold;
                font-style: normal;
                color: $theme-color;
            }
        }
    }
}
