---
layout: default
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-0 text-lowercase">
    <li class="breadcrumb-item"><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
    <li class="breadcrumb-item"><a href="{{ '/projects' | prepend: site.baseurl }}">projects</a></li>
    <li class="breadcrumb-item active">{{ page.title }}</li>
  </ol>
</nav>

<div class="row m-0" style="width: 100%;">
  <div class="col-sm-12 p-0">
    <h1>{{ page.title }}</h1>
    <h5 class="mb-4">{{ page.description }}</h5>
  </div>
  <!-- <div class="col-sm-2 p-0 mt-auto mb-auto">
    <img src="{{ page.img | prepend: site.baseurl }}" alt="project thumbnail">
  </div> -->
</div>

<div class="container-fluid p-0 text-justify">
  {{ content }}
</div>
