---
---

<div class="row m-0 mt-3 p-0">
  <div class="col-sm-2 p-0 abbr">
    {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
          {%- endif -%}
    {% elsif entry.abbr %}
      {% if site.data.venues[entry.abbr] %}
        <a class="badge font-weight-bold danger-color-dark align-middle" style="width: 70px;" href="{{site.data.venues[entry.abbr].url}}" target="_blank">
          {{entry.abbr}}
        </a>
      {% else %}
        <span class="badge font-weight-bold danger-color-dark align-middle" style="width: 70px;">
          {{entry.abbr}}
        </span>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-sm-10 mt-2 mt-sm-0 p-0 pl-xs-0 pl-sm-4 pr-xs-0 pr-sm-2">
    {% assign entry_id = entry.key | replace: ':', '-' %}
    <div id="{{entry_id}}" class="col p-0">
      <h5 class="title mb-0">{{entry.title}}.</h5>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign name = author.first | append: ' ' | append: author.last %}
          {% if forloop.length == 1 %}
            {% if author.last contains site.scholar.last_name %}
              <nobr><em>{{author.first}} {{author.last}}</em>.</nobr>
            {% else %}
              {% if site.data.coauthors[name] %}
                <nobr><a href="{{site.data.coauthors[name].url}}" target="_blank">{{author.first}} {{author.last}}</a>.</nobr>
              {% else %}
                <nobr>{{author.first}} {{author.last}},</nobr>
              {% endif %}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last contains site.scholar.last_name %}
                <nobr><em>{{author.first}} {{author.last}}</em>,</nobr>
              {% else %}
                {% if site.data.coauthors[name] %}
                  <nobr><a href="{{site.data.coauthors[name].url}}" target="_blank">{{author.first}} {{author.last}}</a>,</nobr>
                {% else %}
                  <nobr>{{author.first}} {{author.last}},</nobr>
                {% endif %}
              {% endif %}
            {% else %}
              and
              {% if author.last == site.scholar.last_name %}
                <nobr><em>{{author.first}} {{author.last}}</em>.</nobr>
              {% else %}
                {% if site.data.coauthors[name] %}
                  <nobr><a href="{{site.data.coauthors[name].url}}" target="_blank">{{author.first}} {{author.last}}</a>.</nobr>
                {% else %}
                  <nobr>{{author.first}} {{author.last}}</nobr>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <p class="periodical font-italic">
          {% if entry.type == "article" %}
            In {{entry.journal}}
          {% elsif entry.type == "inproceedings" %}
            In {{entry.booktitle}}
          {% elsif entry.type == "thesis" %}
            In {{entry.booktitle}}
          {% elsif entry.type == "misc" %}
            In {{entry.booktitle}}
          {% elsif entry.type == "eprint" %}
            In {{entry.booktitle}} ({{entry.eprint}})
            {% elsif entry.type == "other" %}
            In {{entry.booktitle}}
          {% endif %}
          {% if entry.year %}
            ({{entry.year}}).
          {% else %}
            .
          {% endif %}
        </p>
      </div>

      {% if entry.note %}
      <div style="color: #FFC000;"><p class="periodical font-italic"><i class="fa fa-solid fa-star"></i> {{entry.note}}!</p></div>
      {% endif %}
    
      <div class="col p-0">
        {% if entry.abstract %}
          <a class="badge grey waves-effect font-weight-light mr-1" data-toggle="collapse" href="#{{entry_id}}-abstract" role="button" aria-expanded="false" aria-controls="{{entry_id}}-abstract">Abstract</a>
        {% endif %}
        {% if entry.html %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.html }}" target="_blank">HTML</a>
        {% endif %}
        {% if entry.pdf %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">PDF</a>
        {% endif %}
        {% if entry.supp %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Supplementary</a>
        {% endif %}
        {% if entry.addendum %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.addendum | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Addendum</a>
        {% endif %}
        {% if entry.poster %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}
        {% if entry.slides %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}
        {% if entry.code %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.code }}" target="_blank">Code</a>
        {% endif %}
        {% if entry.arxiv %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
        {% endif %}
      </div>
    
      {% if entry.abstract %}
      <div class="col mt-2 p-0">
        <div id="{{entry_id}}-abstract" class="collapse">
          <div class="abstract card card-body font-weight-light mr-0 mr-sm-3 p-3">
            {{ entry.abstract }}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
